<app-card titulo="app-primeiro-componente" cor="#3D4D63">
    <app-primeiro-componente></app-primeiro-componente>
</app-card>
<app-card titulo="router-outlet" cor="#B2E7E8">
    <router-outlet></router-outlet>
</app-card>
<app-card titulo="app-segundo-component" cor="#BFB9AA">
    <app-segundo-component></app-segundo-component>
</app-card>
<app-card titulo="app-pipe-customizado" cor="#ED8975">
    <app-pipe-customizado></app-pipe-customizado>
</app-card>
<app-card titulo="app-two-way-data-binding" cor="#FFE3DC">
    <app-two-way-data-binding></app-two-way-data-binding>
</app-card>
<app-card titulo="app-renderizando-listas" cor="#A2AD91">
    <app-renderizando-listas></app-renderizando-listas>
</app-card>
<app-card titulo="app-componente-personalizado" cor="#3A2D32">
    <app-componente-personalizado nome="Áfia" sobrenome="barbosa"></app-componente-personalizado>
</app-card>
<app-card titulo="app-componente-filho-Pai"cor="#3D4D63">
    <app-componente-filho></app-componente-filho>
    <app-componente-pai></app-componente-pai>
</app-card>
<app-card titulo="app-exemplo-servicos" cor="#B2E7E8">
    <app-exemplo-servicos1></app-exemplo-servicos1>
    <app-exemplo-servicos2></app-exemplo-servicos2> 
</app-card>
<app-card titulo="app-ciclo-de-vida-pai" cor="#BFB9AA">
    <app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>
